[data-popper-role='content-wrapper'] {
  position: relative;
  background-color: #fff;
  border: 1px solid #eef1f4;
  padding: 4px 8px;
  //box-shadow: 0 4px 30px -15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;

  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.05);
}

[data-popper-interactive='false'] {
  pointer-events: none;
  user-select: none;
  cursor: default;
}

[data-popper-role='content'] {
  position: relative;
  z-index: 1;
}

[data-popper-placement^='bottom'] > [data-popper-role='arrow'] {
  top: -5px;
  border-top-left-radius: 2px;
  border-bottom-color: transparent !important;
  border-right-color: transparent !important;
}

[data-popper-placement^='top'] > [data-popper-role='arrow'] {
  bottom: -5px;
  border-top-color: transparent !important;
  border-left-color: transparent !important;
  border-bottom-right-radius: 2px;
}

[data-popper-placement^='right'] > [data-popper-role='arrow'] {
  left: -5px;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-left-radius: 2px;
}

[data-popper-placement^='left'] > [data-popper-role='arrow'] {
  right: -5px;
  border-left-color: transparent !important;
  border-bottom-color: transparent !important;
  border-top-right-radius: 2px;
}

[data-popper-role='arrow'] {
  width: 10px;
  height: 10px;
  z-index: -1;
  border: 1px solid #e4e7ed;
  background-color: #fff;
  display: inline-block;
  transform: rotate(45deg);
}
