@use '../Mixins/mixins' as *;

@include b(u-table) {
  width: 100%;
  font-size: 13px;
  text-align: left;
  color: getColor(text);

  thead {
    tr {
      color: #fff;

      th {
        border: 1px solid getColor(gray-2);
        border-left: 0;
        border-top: 0;
        padding: 8px 16px;
        position: sticky;
        top: 0;
        background-color: getColor(primary);
        z-index: 1;
        text-align: center;

        &:last-child {
          border-right: transparent;
        }

        @include when(sticky) {
          left: 0;
          z-index: 2;
        }
      }
    }

    & > tr:first-child {
      th {
        &:first-of-type {
          border-top-left-radius: 8px;
          border-bottom-left-radius: 2px;
        }
        &:last-of-type {
          border-top-right-radius: 8px;
          border-bottom-right-radius: 2px;
        }
      }
    }
  }

  tbody {
    tr {
      &:hover {
        td {
          background-color: getColor(gray-1);
        }
      }

      td {
        color: #66727f;
        border: 1px solid getColor(gray-4);
        background-color: #fff;
        padding: 8px 16px;
        border-left: 0;

        &:last-child {
          border-right: transparent;
        }

        @include when(sticky) {
          position: sticky;
          left: 0;
          z-index: 1;
          text-align: center;
        }
      }

      &:last-child {
        td {
          border-bottom: transparent;
        }
      }
    }

    & > tr:last-child {
      td {
        &:first-of-type {
          border-bottom-left-radius: 8px;
        }
        &:last-of-type {
          border-bottom-right-radius: 8px;
        }
      }
    }
  }
}
