@use './col.scss';
@use './css-vars.scss';
@use './Components/Table.scss' as *;

body {
  font-size: 13px;
}

@include res(sm) {
  body {
    font-size: 13px;
  }
}

@include res(md) {
  body {
    font-size: 14px;
  }
}

.absolute-full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.uneti-divider {
  display: block;
  height: 2px;
  width: 100%;
  border-radius: 10px;
  background: getColor(gray-2);
  margin-top: 10px;
  margin-bottom: 10px;

  @include res(md) {
    margin-top: 14px;
    margin-bottom: 14px;
  }
}

.icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 31px;
  width: 31px;
  border: 1px solid getColor(text, 0.12);
  transition: all 0.15s ease;

  &:hover {
    background-color: getColor(text, 0.05);
  }

  &:active {
    background-color: getColor(text, 0.09);
    transform: scale(0.96);
  }

  i {
    font-size: 15px !important;
  }
}

.disabled,
[disabled] {
  pointer-events: none !important;
  cursor: default !important;
  opacity: 0.8;
}

.base-button {
  border-radius: 6px;
  color: #fff;
  padding: 2px 26px;
  font-size: 14px;
  height: 32px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(244, 244, 244, 0.6);
  background-color: #f0f0f0;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #d8d8d8;
}

.scrollbox {
  background:
  /* Shadow covers */
    linear-gradient(white 30%, rgba(255, 255, 255, 0)),
    linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,
    /* Shadows */
      radial-gradient(
        farthest-side at 50% 0,
        rgba(0, 0, 0, 0.12),
        rgba(0, 0, 0, 0)
      ),
    radial-gradient(
        farthest-side at 50% 100%,
        rgba(0, 0, 0, 0.12),
        rgba(0, 0, 0, 0)
      )
      0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size:
    100% 40px,
    100% 40px,
    100% 14px,
    100% 14px;

  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
}

.base-input {
  // @apply focus:ring-1 ring-uneti-primary border border-gray-300 p-2 rounded-lg outline-none;
  width: 200px;
  @apply p-2 rounded-lg outline-none bg-input-bg transition-[padding] font-normal;

  &:not(textarea) {
    height: 32px;
  }

  &:not([data-popper-role='trigger']) {
    @apply focus:pl-3;
  }
}

.quill {
  @apply bg-input-bg rounded-lg border-none;

  .ql-toolbar.ql-snow {
    @apply border-transparent border-b border-b-gray-300/40;
  }
  .ql-container.ql-snow {
    @apply border-none;
  }

  .ql-toolbar {
    * {
      transition: all 0.1s ease;
    }
    .ql-formats {
      .ql-header.ql-picker {
        // border: 1px solid #f1f1f1;
        border: none;
        border-radius: 6px;
        background: #fff;

        &.ql-expanded {
          .ql-picker-label {
            border-radius: 6px 6px 0 0;
          }
        }

        .ql-picker-label {
          // border: 1px solid #f1f1f1;
          border: none;
          border-radius: 6px;
          background: #fff;

          &.ql-active {
            color: getColor(primary-light);

            .ql-stroke {
              stroke: getColor(primary-light);
            }
          }
        }

        .ql-picker-options {
          border-radius: 0 8px 8px 8px;
          border: none;
          box-shadow: 0 6px 19px 8px rgba(0, 0, 0, 0.05);
        }

        .ql-picker-item:hover {
          color: getColor(primary-lighter);
        }
      }

      button[type='button'] {
        width: 24px;
        height: 24px;
        margin: 0 3px;
        border-radius: 4px;
        padding: 3px;
        // border: 1px solid transparent;

        &:hover {
          background: #fff;
        }

        &.ql-active {
          background: #fff;
          border-color: #f1f1f1;
          stroke: getColor(primary-light);
        }
      }
    }
  }

  .ql-container {
    .ql-tooltip {
      border-radius: 8px;
      border: none;
      box-shadow: 0 6px 19px 8px rgba(0, 0, 0, 0.05);

      &[data-mode='link'] {
        input {
          @apply base-input border-none;
        }
      }
    }

    &.ql-snow {
      height: max-content;
    }
  }
}

textarea {
  field-sizing: content;
  min-height: 3lh;
}

.loading {
  animation: loading 0.45s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.slide-down {
  animation: slide-down 0.12s ease;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-up {
  animation: slide-up 0.12s ease;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-left {
  animation: slide-left 0.12s ease;
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-right {
  animation: slide-right 0.12s ease;
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.shadow-inset-border,
[shadow-inset-border] {
  box-shadow: inset 0px 0px 2px 0px rgba(255, 255, 255, 0.12);
}

.default-css {
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  /* ===== CUSTOM RESET ===== */

  object {
    outline: none;
    display: block;
    overflow: hidden;
  } /* force redraw on IE8, fix outline/scroll bug on Firefox 3.6, remove unnecessary margin (copied from swffit)  */
  textarea {
    overflow: auto;
  } /* fix IE */
  iframe {
    border: 0;
  }

  /* fix line-height [https://gist.github.com/413930] */
  sup,
  sub {
    line-height: 0;
    font-size: 0.75em;
    position: relative;
    vertical-align: baseline;
  }
  sup {
    top: -0.5em;
  }
  sub {
    bottom: -0.25em;
  }

  /* ========================= GENERAL TAGS ======================== */

  html {
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
    min-width: 1000px;
  }
  body {
    background-color: #fff;
    color: #444;
    font-size: 12px;
    line-height: 1.5em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1.5em 0 0.833em;
    font-weight: bold;
    line-height: 1em;
  }
  h1,
  .h1 {
    font-size: 2em;
  }
  h2,
  .h2 {
    font-size: 1.6em;
  }
  h3,
  .h3 {
    font-size: 1.4em;
  }
  h4,
  .h4 {
    font-size: 1.2em;
  }
  h5,
  .h5 {
    font-size: 1.1em;
  }
  h6,
  .h6 {
    font-size: 1em;
  }

  p {
    margin: 1em 0;
  }
  small {
    font-size: 0.833em;
  }
  em,
  i {
    font-style: italic;
  }
  strong,
  b {
    font-weight: bold;
  }
  code,
  pre {
    font-family: monospace;
  }

  a {
    text-decoration: underline;
  }
  a:hover,
  a:focus {
    text-decoration: none;
  }
  a:hover,
  a:active {
    outline: none;
  }

  hr {
    background-color: #fff;
    border: 1px solid #fff;
    border-top: 1px solid #aaa;
    clear: both;
    margin: 2em 0;
  }
  blockquote {
    padding: 0.2em 1em 0.2em 2em;
    border-left: 3px solid #eee;
  }
}
