@mixin state($state) {
  @include set-var-value(color, getCssVar($state));
}

@include b(button) {
  @include state(primary);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 9px;
  transition: all 0.25s ease;
  border: 0;
  padding: 2px 20px;
  font-size: 14px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  outline: 0;
  height: 32px;
  background-color: getColor(color);
  color: white;
  white-space: nowrap;

  &:active {
    transform: scale(0.95);
  }

  @include when(default) {
    &:hover {
      background-color: getColor(color, 0.9);
    }
  }

  @include when(loading) {
    i {
      animation: rotate 1s infinite linear;
    }
  }

  @include when(flat) {
    background: getColor(color, 0.15);
    color: getColor(color);

    &:hover {
      background: getColor(color, 0.25);
    }

    &:focus {
      color: #fff;
      background: getColor(color);
      transition:
        all 0.25s ease,
        background 0.25s ease 0.25s;
    }
  }

  @include when(border) {
    background-color: transparent;
    border: 1px solid getColor(color);
    color: getColor(color);

    &:hover {
      background: getColor(color);
      color: white;
    }
  }

  @include when(disabled) {
    pointer-events: none;
    cursor: not-allowed;
    background-color: getColor(color, 0.8);
  }

  @include when(icon) {
    width: 32px !important;
    height: 32px !important;
    padding: 0;
    border-radius: 10px !important;
  }

  @include when(transparent) {
    color: getColor(color);
    background-color: transparent;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: scale(0);
      border-radius: 12px;
      transition: all 0.25s ease;
      background-color: getColor(color, 0.1);
    }

    &:active::before {
      transform: scale(0.9) !important;
    }

    &:hover::before {
      transform: scale(1);
    }
  }

  @include when(shadow) {
    box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.05);
    background: #fff;
    color: getColor(text);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
